<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plants details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <div class="title"><h1>Watering Plants</h1> </div>
    <div class="menu">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/plants/list}">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/plants/details}">Plant Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/plants/create}" tabindex="-1">Plant Management</a>
            </li>
        </ul>

    </div>
    <div class="MainPage" >
<table class="table  table-striped">
    <thead class="table-dark bg-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Flower Name</th>
        <th scope="col">Watering Level</th>
        <th scope="col">Last Watering</th>
        <th scope="col">Next Watering Date</th>
        <!--        <th scope="col">Watering Date</th>-->
<!--        <th class="btn btn-light"  role="button">Watering</th>-->
        <th scope="col">Water It!</th>
    </tr>
    </thead>

    <tbody class="table-info">
    <tr th:each="plant: ${plants}">
        <td th:text="${plant.id}"/>
        <td th:text="${plant.name}" />
        <td>'HI_LOW_ICON'</td>
        <td th:text="${plant.lastWatering}" />
        <td th:text="${plant.nextWatering}" />
        <td class="btn btn-outline-primary btn-sm"  role="button">WATERING</td>

        <!--<form action="#" th:action="@{/water/{id}}" method="post">
            <input type="submit" value="Submit" />
        </form>-->

    </tr>

    </tbody>
</table>
    </div>
    <div class="footer">

        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div>


</body>
</html>